.titulo{
    justify-content: center;
    display: flex;
    font-size: 2rem;
}

.imagem{
    
    display: flex;
    
}

.texto{
    display: flex;
    text-align: right;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
}



